@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@import url(controls.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Lato', sans-serif;
    --main-text-color: #000;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ol, ul {
    list-style: none;
}


.body{
    background-color: #eee;
}

#header {
    position: fexed;
    top: 0;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    grid-column-gap: 10%;
    background-color: #eee;

    @media (max-width: 600px) {
    flex-wrap: wrap;
    grid-column-gap: 10%;
    }
}

.container {
    max-width: 980px;
    margin: auto;
}

.header__logo-container {
    width: 100%;
    height: 100%;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;


    @media (max-width: 650px) {
    
    margin-top: 15px;
    width: 100%;
    position: relative;
    grid-auto-rows: 1fr 1fr;
    }
}

#nav-bar {
    width: 35vw;
    
}


.header__list {
    font-weight: 400;
    height: 19px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    grid-column-gap: 20%;
    justify-content: space-around;
    padding-inline-start: 40px;

}

.header__nav-link {
    color: var(--main-text-color);
    text-decoration: none;
}

.main {
    position: relative;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    height: 200px;
}

h1 {
    display: block;
    font-weight: 700;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    align-items: center;
    overflow-wrap: break-word;
    margin: 0 0 20px 0;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 89px;
    text-align: center;
}

.hero__input {
    text-align: center;
    border-bottom-width: 2px;
    padding: 5px;
    appearance: auto;
    border-width: 2px;
    border-style: inset;
    cursor: text;
    display: inline-block;
    max-width: 275px;
    height: 29px;
    align-items: center;
}

.hero__buttom {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
    font-weight: 700;
}

.main__features-content {
    margin-top: 30px;
}

.main__features-position {
    display: flex;
    flex-direction: row;
    grid-template-columns: 16% 84%;

}

.main__features-list {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.main__features-photo {
    width: 125px;
    max-height: 195px;
}

.main__features-list" {
}

.main__features-list-headline {
    font-size: 24px;
    font-weight: 700;
    height: 29px;
}

.main__video {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: auto;
}

.categories {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}

.categories__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.categories__product-headline {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.categories__product-price {
    margin-top: 15px;
}

.categories__product-list {
    margin: 15px 0;
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
}

.categories__product-text {
    padding: 5px 0;
    list-style: none;
}

.categories__product-button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
    padding: 0 20px;
    height: 40px;
    font-size: 1em;  
}

.categories__product-button:hover {
    background-color: #f1990a;
}

.footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}

.footer__info-list {
    display: flex;
    justify-content: flex-end;
}

.footer__info-list-item {
    padding: 0 10px;
    text-decoration: none;
    color: var(--main-text-color);
}

.footer__copyright-policy {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}